@{
  Layout = "_Layout";
}

@model Registrar.Models.Course;

<h2>Edit</h2>

<h4>Edit this Course: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.CourseNumber)
    @Html.EditorFor(model => model.CourseNumber)

    <input type="submit" value="Save" />
}


<div id="outer">
  <div class="table">
    <ul id="horizontal-list">
      <li>@Html.ActionLink("Back to courses", "Index")</li>
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>
  </div>
</div>
